html, body {
    height: 100%;
    margin: 0%;
}

html {
    background-color: #1b262c;
    color: #bbe1fa;
}

a:link {
    color:#bbe1fa;
}

a:visited {
    color:#3282b8;
}

a:hover {
    color:#3282b8;
}

.h-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.margin-h-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.content-h-80 {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.text-center {
    text-align: center;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}